container_commands:
  00_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"

  01_build_node_assets:
    command: "yum install nodejs -y"

  02_build_node_assets:
    command: "npm ci"

  03_build_node_assets:
    command: "npm run build"

  04_run_migrations:
    command: "php artisan migrate --force"

  05_run_migrations:
    command: "php artisan db:seed --force"
